<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>视频助手</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body style="background:#f9f9f9;">
    <header>
        <form class="form-inline my-2 my-lg-0" role="search" method="get" action="re_search" >
              <div style="width: 100%;text-align:center">
                            <br>
                     <br>
                <a href=""><img src="{% static 'logo/logo.png' %}"/></a>
                 <br>
                 <br>
                 <br>
            <br>
        <input type="text" class="form-control" name="text" placeholder="全站检索">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">搜索</button>
        </span>

    </header>
    </br>
    </br>

    <h2>查询结果</h2>
{#<h2>{{ content }}</h2>#}
  </br>
    {% for content in content %}
    <h4><a href="{{ content }}">{{forloop.counter}},{{ title }}</a></h4></br>
    {% endfor %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
